.medi-header{
    padding: 20px 0px;
    .header-content{
        .medi-logo{
            a{
                text-decoration: none;
                img{
                    height: 50px;
                }
            }
        }
        .medi-menu{
            ul{    
            margin: 0 !important;
            padding: 13px 0px;
                li{
                    list-style: none;
                    display: inline-block;
                    position: relative;
                    a{
                        text-decoration: none;
                        color: gray;
                        text-transform: uppercase;
                        font-size: 14px;
                        padding: 0px 15px;
                        transition: .4s;
                        &:hover{
                            color: #1aa6ea;
                        }
                    }
                    ul{
                        position: absolute;
                        background: #fff !important;
                        z-index: 5;
                        text-align: left;
                        padding: 10px 0px;
                        border-radius: 5px;
                        display: none;
                        li{
                            padding: 10px 0px;
                        }
                    }
                    &:hover{
                        ul{
                            display: block;
                        }
                    }
                }
            }
        }
    }

}
